extends partials/_page

block title
	| About William Sentman

block content
	h1 Resume

	h2 William Sentman
	p 4010 Garrett Road Aprt #3
	p Drexel Hill, PA 19026
	p Phone# 610-333-3998
	p Email: Sentmanstudios@gmail.com



	h2 Education

	p 2013 - Cur    Private Study, Neilson Carlin, Studio Rilievo, Kennett Square, PA
	p 2008 - 12      BFA, Pennsylvania Academy of the Fine Arts, Philadelphia, PA
	p 2006 - 08      Illustration/Animation Focus, University of the Arts, Philadelphia, PA
	p 2005 - 06      Pre-College, Moore College of Art and Design, Philadelphia, PA


	h2 Awards

	p 2013 4th Place, Juried Landscape Competition
	p En Plein Air Burlington 2013, The Lyceum Hall, Burlington, NJ
	p 2011 Si Friedman Award and Scholarship
	p Pennsylvania Academy of the Fine Arts, Philadelphia, PA

	h2 Group Exhibitions


	p 2013 Small Imagery, Meinhart's Gallery and Curio, Pitman, NJ
	p 2013 Philadelphia Plein Air Painters, The Woodbury Art Festival, Woodbury, NJ
	p 2013 En Plein Air Burlington 2013,  The Lyceum Hall, Burlington, NJ
	p 2013 PAFA Alumni Group Show, Meinhart's Gallery and Curio, Pitman, NJ
	p 2013 Small Oil Works, Philadelphia Sketch Club, Philadelphia, PA

	p 2012 Tiny, Small, Diminutive, and Delectable, Rodger LePelle Galleries, Philadelphia, PA
	p 2012 111th Annual Student Exhibition, Pennsylvania Academy of the Fine Arts, Philadelphia, PA

	p 2011 Student Showcase Exhibition, Pennsylvania Academy of the Fine Arts, Philadelphia, PA

	p 2009 Small Oil Works, Philadelphia Sketch Club, Philadelphia, PA
	p 2009 Art of the Flower, Philadelphia Sketch Club, Philadelphia, PA
	p 2009 Small Worlds, The Plastic Club, Philadelphia, PA
	p 2009 Think Green, The Plastic Club, Philadelphia, PA

	h2 Other Skills

	p Software Proficiency
	p Adobe Photoshop, Adobe Illustrator, Adobe InDesign, Corel Painter
