extends partials/_page

block title
	| William Sentman Fine Artist

block	content
	video(autoplay loop poster="vid/vid_poster.png" id="bgvid")
		source(src="vid/Sentman.webm" type="video/webm")
		source(src="vid/Sentman.mp4" type="video/mp4")
	h1 William Sentman
	h2 Fine Artist
	a(href="portfolio.html") 
		p Enter
