a(class="item")
	img(src="img/Church Rooftops_thumb.jpg")
a(class="item")
	img(src="img/Clusters_thumb.JPG")
a(class="item")
	img(src="img/Coastline_thumb.JPG")
a(class="item")
	img(src="img/Darby Creek_thumb.JPG")
a(class="item")
	img(src="img/Darby Stream_thumb.jpg")
a(class="item")
	img(src="img/Eagle Village Marshlands_thumb.jpg")
a(class="item")
	img(src="img/Her Garden_thumb.JPG")
a(class="item")
	img(src="img/Ocean rock bed_thumb.JPG")
a(class="item")
	img(src="img/On The Rocks_thumb.jpg")
a(class="item")
	img(src="img/Pipeline_thumb.JPG")
a(class="item")
	img(src="img/rushing serenity_thumb.jpg")
a(class="item")
	img(src="img/Stone Circle_thumb.JPG")
a(class="item")
	img(src="img/The Amber Island_thumb.jpg")
a(class="item")
	img(src="img/Twilight Bench_thumb.jpg")
a(class="item")
	img(src="img/Windy Waterways_thumb.JPG")
