a
	img(src="img/Head of Houdon_thumb.JPG")
a
	img(src="img/Little Gourd_thumb.jpg")
a
	img(src="img/Reflection_thumb.JPG")
a
	img(src="img/Upon His Throne_thumb.JPG")
a
	img(src="img/Upon His Throne II_thumb.JPG")
a
	img(src="img/Her Garden_thumb.JPG")
