doctype html
html(class="no-js" lang="")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title
      block title
    meta(name="description" content="William Sentman Fine Art Oil Painting ")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/main.css")
    script(src="js-dist/vendor-dist.js")
  body
  header
    nav
      ul
        li 
          a(href="portfolio.html") portfolio
        li
          a(href="about.html") about the artist
        li
          a(href="contact.html") contact
        br.clear
  block content
  
