doctype html
html(class="no-js" lang="")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title
      block title
    meta(name="description" content="William Sentman Fine Art Oil Painting ")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/manifest.css" type="text/css" charset="utf-8")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="js-dist/isotope.pkgd-dist.js")
  body
  header
    nav
      a.logo
          p logo
      ul.navlinks
        li 
          a(href="portfolio.html") portfolio
        li
          a(href="about.html") about the artist
        li
          a(href="contact.html") contact
        br.clear
  block content
  
  script
    |	var $container = $('#container').isotope();
    |	$container.imagesLoaded( function() {
    |		$container({
    |			itemSelector: '.item',
    |     layoutMode: 'Packery',
    |     gutter: 10
    |		});
    |	});
    |	$('#filters').on( 'click', 'button', function() {
    |		var filterValue = $(this).attr('data-filter');
    |		$container.isotope({ filter: filterValue });
    |	});
    |	$('.button-group').each( function( i, buttonGroup ) {
    |	var $buttonGroup = $( buttonGroup );
    |	$buttonGroup.on( 'click', 'button', function() {
    |	$buttonGroup.find('.is-checked').removeClass('is-checked');
    |	$( this ).addClass('is-checked');
    |	});
    |	});
    |	$(document).ready(function(){
    |		$(".link").colorbox({iframe:true, innerWidth:"80%", innerHeight:"60%"});
    |	});



  
